[submodule "disk/toolchain"]
	path = disk/toolchain
	url = https://github.com/DSMan195276/protura-toolchain
[submodule "disk/utils/protura-ed"]
	path = disk/utils/protura-ed
	url = https://github.com/DSMan195276/protura-ed
	branch = master
