[submodule "disk/toolchain"]
	path = disk/toolchain
	url = https://github.com/mkilgore/protura-toolchain
[submodule "disk/extras/vim"]
	path = disk/extras/vim
	url = https://github.com/mkilgore/protura-vim
	branch = protura
[submodule "disk/extras/ncurses"]
	path = disk/extras/ncurses
	url = https://github.com/mkilgore/protura-ncurses
	branch = protura
[submodule "disk/extras/ed"]
	path = disk/extras/ed
	url = https://github.com/mkilgore/protura-ed
	branch = master
[submodule "disk/extras/mpc"]
	path = disk/extras/mpc
	url = https://github.com/mkilgore/protura-mpc
[submodule "disk/extras/mpfr"]
	path = disk/extras/mpfr
	url = https://github.com/mkilgore/protura-mpfr
[submodule "disk/extras/gmp"]
	path = disk/extras/gmp
	url = https://github.com/mkilgore/protura-gmp
[submodule "disk/extras/gcc"]
	path = disk/extras/gcc
	url = https://github.com/mkilgore/protura-gcc
[submodule "disk/extras/binutils"]
	path = disk/extras/binutils
	url = https://github.com/mkilgore/protura-binutils
